.LayoutContent {
  min-width: 1000px;
  height: 100%;
  background: #f0f2f5;
  padding-top: 16px;
  &-content {
    margin: 0 16px 16px;
    min-height: calc(100% - 108px);
    // background: #FFF;
  }
}