.LayoutContent {
  padding: 8px;
  display: flex;
  flex-direction: column;
  &-route {
    flex: 1;
    padding: 16px;
  }

  &-Copyright　 {
    height: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
}
